<footer class="fixed-bottom">
  <p class="mt-5 mb-3 text-muted">&copy; ACED Devops 2020 | Anjela Yu's Athentication Project</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/script.js" ></script>
</body>
</html>
