<%- include("partials/header.ejs") %>

<div class="mt-5 container ">
  <p class="bodyText text-success  mb-4"> <%= body.message%> </p>
  <h1 class="mt-5 ">Secrete Revealed</h1>
  </div>
  <a href="/logout" class="btn btn-dark mt-5" >Log Out</a>

<%- include('partials/footer'); %>
