<%- include("partials/header.ejs") %>

<div class="mt-5 container ">
  <p class="bodyText text-success  mb-4"> <%= body.message%> </p>
  <h1 class="mt-5 ">Secrete Revealed</h1>
  </div>

<%- include('partials/footer'); %>
